<html>
<fieldset>
    <h3>Accomodation</h3>

    <p> Please select the type of Accomodation you want to prefer:</p>

  <div class="custom-select" style="width:200px;">

  <select>
    <option value="0">Select</option>
    <option value="1">Through company</option>
    <option value="2">Through self</option>
    
    </select>
</div>

  </fieldset>
</html>
<button (click)="back()">Previous</button>
        <button (click)="next()">Next</button>

<button (click)="save()">Save</button>
<button (click)="cancel()">Cancel</button>