
  
  <nav>
      
    <!----<a routerLink="basic-detail">Basic</a> &nbsp;-->
    
  </nav>
  
  <div class="first">
      <div [ngStyle]="{'width.%':width}" class="second"></div>
  </div>

  <h4 class="hint">
      <div class="container">
          <ul class="progressbar">
          <li class="active"></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
      </div>
  </h4>
  
  <router-outlet></router-outlet>
  

<html>
<fieldset>
    <h3>Accomodation</h3>

    <p> Please select the type of Accomodation you want to prefer:</p>

  <div class="custom-select" style="width:200px;">

  <select>
    <option value="0">Select</option>
    <option value="1">Through company</option>
    <option value="2">Through self</option>
    
    </select>
</div>

  </fieldset>
</html>

    <br><br><br><br><br><br><br><br><br><br><br><br>    


<button (click)="cancel()"class="btn">Cancel</button>
<button (click)="save()"class="btn">Save</button>
<button (click)="next()"class="btn">Next</button>
<button (click)="back()"class="btn">Previous</button>