
<h2 id="ngSwitch">Upload Documents</h2>

<div>Select the type of candidate you are</div>
<div class="custom-select" style="width:1200px;">
  <select> 
    <option value="0">Select</option>
   <option value="Young Leader">Young Leader</option>
    <option value="Experienced">Experienced</option>
    <option value="Internal Transfer">Internal Transfer</option>
    </select>
</div> 
<p>
  <label *ngFor="let h of heroes">
    <input type="radio" name="heroes" [(ngModel)]="hero" [value]="h">{{h.name}}
  </label>
  
</p>
<h4>Upload the Documents given below.</h4>

<div [ngSwitch]="hero?.emotion">
  <app-happy-hero    *ngSwitchCase="'happy'"    [hero]="hero"></app-happy-hero>
  <app-sad-hero      *ngSwitchCase="'sad'"      [hero]="hero"></app-sad-hero>
  <app-confused-hero *ngSwitchCase="'confused'" [hero]="hero"></app-confused-hero>
  <app-unknown-hero  *ngSwitchDefault           [hero]="hero"></app-unknown-hero>
</div>


