
    
    <nav>
        
      <!----<a routerLink="basic-detail">Basic</a> &nbsp;-->
      
    </nav>
    
    <div class="first">
            <div [ngStyle]="{'width.%':width}" class="second"></div>
        </div>
        <h4 class="hint">
    <div class="container">
        <ul class="progressbar">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    </div>
</h4>
    <router-outlet></router-outlet>
    

<div >
    <fieldset>
        <h3>Basic Details</h3><br>
        <label for="Name">Full Name*:</label><input type="text" name="Name" size="20"><br><br>
        <label for="father">Father Name*:</label><input type="text" name="father" size="20"><br><br>
        <label for="spouse">Spouse Name:</label><input type="text" name="spouse" size="20"><br><br>
        <label for="blood">Blood Group*:</label><input type="text" name="blood" size="20"><br><br>
        
        <label for="DoB">DoB:*</label><input type="date" data-date-inline-picker="true" />
        <br><br>
        <label for="gender">Gender*:</label>  
          <input type="radio" name="gender" value="male" checked> Male
          <input type="radio" name="gender" value="female"> Female <br> <br>
          
        <label for="Mobile">Mobile*:</label><input type="text" name="Mobile" size="20"><br><br>
        <label for="Mailid">Mail id*:</label><input type="text" name="Mailid" size="20"><br><br>
        <label for="Marital">Marital Status*:</label>
        <select id="Marital Status" name="Marital Status">
            <option value="Select">Select</option>
            <option value="Single">Single</option>
            <option value="Married">Married</option>  
        </select><br><br>
        <label for="year">Years of Experience:</label><input type="text" name="year" size="20"><br><br>
        <label for="UAN">Previous UAN No:</label><input type="text" name="UAN" size="20"><br><br>
        <label for="PF">Previous PF No:</label><input type="text" name="PF" size="20"><br><br>
        <label for="aadhar">AADHAR No*:</label><input type="text" name="aadhar" size="20"><br><br>
        <label for="PAN">PAN No:</label><input type="text" name="PAN" size="20"><br><br>
        <label for="bank">Bank Account No(ICICI bank only)(Keep blank if not ICICI bank account):</label><input type="text" name="aadhar" size="20"><br><br>
        
        <label for="org">Previous Organization Name:</label><input type="text" name="org" size="20"><br><br>
        <label for="DoB">Date of left of previous organization:</label><input type="date" data-date-inline-picker="true" />
        <br><br>
        <label for="posting">Location of Posting*:</label><input type="text" name="posting" size="20"><br><br>
        <label for="desig">Designation*:</label><input type="text" name="desig" size="20"><br><br>
        
        <label for="Skills">Professional Skills:</label><input type="text" name="Skills" size="20"><br><br>
        <label for="hobbies">Hobbies:</label><input type="text" name="hobbies" size="20"><br><br>
        <label for="Languages">Languages Known:</label><input type="text" name="Languages" size="20"><br><br>
        
        <h4>Address details</h4>
        <label>Current address</label> <input type="checkbox" ng-model="account.sameAsAbove" /><span>Same as Current address</span>
        <div ng-hide="account.sameAsAbove"> </div><br>
        
        <address>
            <input type="text" ng-model="currentAddress" placeholder="Current Address"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="permanentAddress" placeholder="Permanent Address"/><br><br>
   
            <input type="text" ng-model="city" placeholder="City"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="city" placeholder="City"/><br><br>
            <input type="text" ng-model="District" placeholder="District"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="District" placeholder="District"/><br><br>
            <input type="text" ng-model="postalcode" placeholder="Postal Code"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="postalcode" placeholder="Postal Code"/><br><br>
            
        </address>
        </fieldset>
</div>
<br>

<button (click)="cancel()"class="btn1">Cancel</button>&nbsp;
<button (click)="save()"class="btn1">Save</button>&nbsp;
<button (click)="proceed()"class="btn1">Next</button>
       



