<h5><hello name="{{ name }}"></hello></h5>
<body>
  
<p>
  Thank You for joining Bombardier Transportation !
<br>
<br> Welcome to Onboarding procedure of Bombardier Transportation.
<br>
<br>Please Enter the Basic Details 
</p>
<form>
<p>
Name*:<input type="text">  <br><br> DoB* :<input type="text"><br>
<br>
  Gender*: 
  <input type="radio" name="gender" value="male" checked> Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other<br>
  <br>Mobile No*:<input type="text"><br>
  <br>Mail id*:<input type="text"><br>
  <br>Marital Status:<input type="text"><br><br>
  Professional skills:<input type="text"><br><br>
  Hobbies:<input type="text"><br><br>
  Languages Known:<input type="text"><br>
  </p>
  </form>

  <form>
<h3>Address Details</h3>

    </form>
<br>
  
<!doctype html>
<html ng-app>
 <head>
  <title>ng Hide Entire DIV</title>
  <script src="angular.js"></script>
 </head>
 <body>
  <form name="registerForm">
    Local Address<br>
  
   <input type="text" ng-model="currentAddress" placeholder="Current Address"/><p>
   <input type="checkbox" ng-model="account.sameAsAbove" /><span>Same as Above</span><p>
   <div ng-hide="account.sameAsAbove">
    <input type="text" ng-model="permanentAddress" placeholder="Permanent Address"/><p>
   </div>
   <button ng-click="register">Save</button>
   <button ng-click="clear">Next</button>
  </form>
 </body>
</html>
