<!--The content below is only a placeholder and can be replaced.-->

    <nav>
        
      <!----<a routerLink="basic-detail">Basic</a> &nbsp;-->
      
    </nav>
    
    
    
    <router-outlet></router-outlet>
    


    <fieldset>
        <h3>Before Joining Process</h3><br>
        <button type="text"class="btn2">1</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Basic Detail</label><br><br>
        <button type="text"class="btn2">2</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Upload Document</label><br>
        <p><button type="text"class="btn2">3</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medical and Background Verification</p>
        <button type="text"class="btn2">4</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Transportation</label><br><br>
        <button type="text"class="btn2">5</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Accomodation</label><br>
       
       
        </fieldset>

<br>

<button (click)="cancel()"class="btn1">Click here to Proceed</button>&nbsp;

       



