<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
<header>
    <div style="align-self: auto;margin-left: 4% ">
        <h1><img width="120" height="50" alt="Angular Logo" src="assets\Image\Bombardier Logo.PNG">
    
      
         BT-Onboarding!
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      
     
      
      <img width="250" height="70" alt="" src="assets\Image\train_image1.jpg">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
      <button  (click)="home()">Home</button>&nbsp;&nbsp;
      <button  (click)="log()">Logout</button>
          </h1>
     </div>
    </header>
</div>
    <nav>
        
      <!----<a routerLink="basic-detail">Basic</a> &nbsp;-->
      
    </nav>
    
    
    
    <router-outlet></router-outlet>
    


    <fieldset>
        <h3>Before Joining Process</h3><br>
        <button type="text"class="btn2">1</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Basic Detail</label><br><br>
        <button type="text"class="btn2">2</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Upload Document</label><br><br>
        <button type="text"class="btn2">3</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Medical and Background Verification</label><br><br>
        <button type="text"class="btn2">4</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Transportation</label><br><br>
        <button type="text"class="btn2">5</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Accomodation</label><br>
       
       
        </fieldset>

<br>

<button (click)="cancel()"class="btn1">Click here to Proceed</button>&nbsp;

       



