<html>
<fieldset>
    <h3>Upload the documents mentioned</h3><br>

    <form action="upload.php" method="post" enctype="multipart/form-data">
    
        SSC Certificate:<br><br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
  
    </form><br>
    
    <form action="upload.php" method="post" enctype="multipart/form-data">
    
        HSC/Diploma Certificate:<br><br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
    
    </form>
    <br>
    <form action="upload.php" method="post" enctype="multipart/form-data">
   
        Degree Certificate:<br><br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
    
    </form>
    <br>
    <form action="upload.php" method="post" enctype="multipart/form-data">
    
        Masters Certificate:<br><br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
    
    </form>
    <br>
    <form action="upload.php" method="post" enctype="multipart/form-data">
    
        Offer Letter:<br><br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
    
    </form>
    <br>

    
        
<br>

    <form action="upload.php" method="post" enctype="multipart/form-data">
    
        Experienced Letter:<br><br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
    
    </form>
    <br>
    <form action="upload.php" method="post" enctype="multipart/form-data">
    
        Tax sheet:<br><br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
    
    </form>
    <br>
    <form action="upload.php" method="post" enctype="multipart/form-data">
 
        Payment Slip:<br><br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
   
    </form>
    <br></fieldset>
</html>
<button (click)="back()">Previous</button>
        <button (click)="next()">Next</button>

<button (click)="save()">Save</button>
<button (click)="cancel()">Cancel</button>
