
  
  <nav>
      
    <!----<a routerLink="basic-detail">Basic</a> &nbsp;-->
    
  </nav>
  
  
  
  <router-outlet></router-outlet>
  

<html>
<fieldset>
    <h4>First day instruction</h4>
    <label>Your Contact Person: </label><input type="text"><br><br>

      <label> Location Address:</label><input type="text"><br><br>
      
      <label> Location in Company building:</label><input type="text"><br>
     
      <h4>Second day instruction</h4>
    <label>Your Contact Person: </label><input type="text"><br><br>

      <label> Location Address:</label><input type="text"><br><br>
      
      <label> Location in Company building:</label><input type="text"><br>
     
      <h4>Third day instruction</h4>
    <label>Your Contact Person: </label><input type="text"><br><br>

      <label> Location Address:</label><input type="text"><br><br>
      
      <label> Location in Company building:</label><input type="text"><br>
     
      <h4>Fourth day instruction</h4>
    <label>Your Contact Person: </label><input type="text"><br><br>

      <label> Location Address:</label><input type="text"><br><br>
      
      <label> Location in Company building:</label><input type="text"><br>
     
      
      
    


  </fieldset>
</html>
      
<br><br><br><br><br><br>
<button (click)="cancel()"class="btn">Cancel</button>
<button (click)="save()"class="btn">Save</button>
<button (click)="submit()"class="btn">Submit</button>
<button (click)="back()"class="btn">Previous</button>
  
