
<div class="header" id="header">
  <header>
      <div style="align-self: auto;margin-left: 4% ">
          <h1><img width="120" height="50" alt="" src="./assets/Image/Bombardier Logo.PNG">
      
        
           Welcome!
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        
       
        
        <img width="250" height="70" alt="" src="./assets/Image/train_image1.jpg">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
        <button  (click)="home()">Home</button>&nbsp;&nbsp;
        <button  (click)="log()">Login</button>
            </h1>
       </div>
      </header>
  </div>
  <div class="container" style="height:100%;width:100%;">
   
  </div>