
<div class="header" id="header">
  <header>
      <div style="align-self: auto; ">
          <h1><img width="120" height="40" alt="" src="./assets/Image/Bombardier Logo.PNG">
      
        
           BT-Onboarding
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        
       
        
        
        
      
        <button class="btn6" (click)="log()">Login</button>
        <button class="btn6" (click)="home()">Home</button>
        
            </h1>
       </div>
      </header>
  </div>
  
  <img width="" height="" alt="" src="./assets/Image/h1.png">
  <img width="" height="" alt="" src="./assets/Image/h2.png">

  
    