


    .btn {
        width: 80px;
        height: 40px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 14px;
        line-height: 1.42857;
        float: right;
    }
  .btn6{
    margin-top: 1.5%;
    float: right;
    margin-right: 3%; 
    width: 80px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857;
  }
   