.header{
background-color: white;
Color:White;

}

.header img {
  float: left;
  width: 100px;
  height: 50px;
  
}

.header h1 {
  position: relative;
  center:12px;
  left: 5px;
 Color:DodgerBlue;
}
.wrapper {
    text-align: center;
}

.button {
    top: 50%;
    background-color: #4CAF50;
  border: none;
  color:green;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.inner
{
    display: inline-block;

input[type=submit]:hover {
  background-color: #45a049;
}
}
input[type=submit]:hover {
  background-color: #4CAF50(197, 94%, 54%);
  color:#4CAF50;
}

div {
  border-radius: 20px;
  padding: 20px;
  color:#4CAF50;
  
}
div {
  border-radius: 5px;
  padding: 20px;
}
body {
  background-color: lightblue;
} 

.btn {
  border: 1px solid black;
  background-color:DodgerBlue;
  color: black;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;

}

/* Blue */
.success {
  border-color: RoyalBlue;
  color: blue;
}

.success:hover {
  background-color:RoyalBlue;
  color: white;
}
</style><br>