<html>
<fieldset>
    <h3>Upload the documents mentioned</h3>

    <form action="upload.php" method="post" enctype="multipart/form-data">
    
        Internal Transfer Letter:<br><br>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
    
    </form><br>
  </fieldset>
</html>
<button (click)="back()">Previous</button>
        <button (click)="next()">Next</button>

<button (click)="save()">Save</button>
<button (click)="cancel()">Cancel</button>