<form action="action_page.php">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;<label class="sign" >SignIn</label>
  <div class="imgcontainer">
    <img src="assets/Image/logto.jpeg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    
    <input type="text" placeholder="Enter Username" name="uname" required>

    
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit"(click)="reside()">Login</button><br>
    
  </div>

  
</form>