
    
    <nav>
        
      <!----<a routerLink="basic-detail">Basic</a> &nbsp;-->
      
    </nav>
    
    <div class="first">
            <div [ngStyle]="{'width.%':width}" class="second"></div>
        </div>
        <h4 class="hint">
                <div class="container">
                    <ul class="progressbar">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                </div>
            </h4>
    <router-outlet></router-outlet>
<html>
<fieldset>
    <h3>This Page is regarding Medical Verification and Background Verification </h3>
      <h4>Medical Verification</h4> 
       <p> You have to do Medical Test and thereafter upload medical report.</p>
   <p>Click on a link to know the Medical test to be done<br>
       <a  href="./assets/1.pdf">Link </a></p>

<h4>Upload Medical Report below:</h4>
    <form action="upload.php" method="post" enctype="multipart/form-data">
    
       
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
    
    </form><br>

    <h4>Background Verification <br></h4>
    <p>Click a link below for background verification<br></p>
      <a href="url">link text</a> <br>
  </fieldset>
</html>

        


<button (click)="cancel()"class="btn">Cancel</button>
<button (click)="save()"class="btn">Save</button>
<button (click)="next()"class="btn">Next</button>
<button (click)="back()"class="btn">Previous</button>