label{
    display:inline-block;
    width:200px;
    margin-right:10px;
    text-align:left;
    
    }
    
    
    
    fieldset{
    border:none;
    width:500px;
    margin:0px auto;
    
    }

          
.btn {
    width: 80px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857;
    float: right;
}
.header{
    margin-left: 5% ;
    margin-right: 5% ;
 
 }

 .container{
    width: 100%;
    
}
.progressbar{
    counter-reset:step;
}
.progressbar li{
    list-style-type:none;
    float: left;
    width: 15%;
    
    text-align: center;
}

.progressbar li:before{
    content: '1';
    content:counter(step);
    
   counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li::after{
content: '';
position: absolute;
width: 100%;
height: 1px;
background-color: #ddd;
top:15px;
left:-50;
z-index: -1;

}

.progressbar li:first-child::after{
    content:none;
}

.progressbar li:active{
    color: green;

}

.progressbar li.active::before{
    border-color: green;
}

.progressbar li.active+li:after{
    background-color: green;
}