label{
    display:inline-block;
    width:200px;
    margin-right:10px;
    text-align:left;
    
    }
    
    
    
    fieldset{
    border:none;
    width:500px;
    margin:0px auto;
    
    }

          
.btn {
    width: 80px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857;
    float: right;
}
.header{
    margin-left: 5% ;
    margin-right: 5% ;
 
 }