
    
    <nav>
        
      <!----<a routerLink="basic-detail">Basic</a> &nbsp;-->
      
    </nav>
    
    
    
    <router-outlet></router-outlet>

<html>             
<fieldset>
    <h3>Transportation</h3>

    <label>Select the date below.</label><br>
    <button onclick="myFunction()">Select Date</button>
    <input type="date" data-date-inline-picker="true" />

       <br> <br><label>Category</label>
        <select id="category" name="Category">
        <option value="Select Category">Select Category</option>
        <option value="Individual">Individual</option>
        <option value="With Family">With Family</option>  
    </select><br><br>
    <label>Number of Family Members arriving with you</label>
        <select id="category" name="Category" Align="CENTER">
        <option value="Select Category">Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>  
        <option value="4">4</option> 
        <option value="5">5</option> 
    </select><br>
    
     <p>You have to mention the name and age of family members arriving with you.</p><br>
    
     <label>Select Grade</label>
        <select id="category" name="Category" Align="CENTER">
        <option value="Select Category">Select Grade</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        </select>
    <br><br>
        
     <label for="category">Select Mode of Transport</label>
        <select id="category" name="Category" Align="CENTER">
        <option value="Select Category">Select </option>
        <option value="l1">Train</option>
        <option value="l2">Bus</option>
        <option value="l3">Plane</option>
        </select>
 
       <br><br>
    <label>Select Class</label>
        <select id="category" name="Category" Align="CENTER">
        <option value="Select Category">Select </option>
        <option value="l1">General</option>
        <option value="l2">Sleeper</option>
        <option value="l3">AC Sleeper</option>
        </select>
       
        <h4><p class="indent">Relocation Policy</p></h4>
        <p>Click a link below to know about Relocation policy:</p>
        <p><a href="url">BT Relocation Policy</a> </p><br>
        


  </fieldset>

</html>

        


<button (click)="cancel()"class="btn">Cancel</button>
<button (click)="save()"class="btn">Save</button>
<button (click)="next()"class="btn">Next</button>
<button (click)="back()"class="btn">Previous</button>