
  <nav>
      
    <!----<a routerLink="basic-detail">Basic</a> &nbsp;-->
    
  </nav>
  
  
  
  <router-outlet></router-outlet>
  
<html>
   
<fieldset>

  <h3>Please select a category</h3><br><br>
  <button (click)="young()"class="btn1">Young Leader</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="experi()"class="btn1">Experience</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="internal()"class="btn1">Internal Tranfer</button>
</fieldset>
</html>

<button (click)="cancel()"class="btn">Cancel</button>
<button (click)="save()"class="btn">Save</button>
<button (click)="back()"class="btn">Previous</button>
