
    
    <nav>
        
      <!----<a routerLink="basic-detail">Basic</a> &nbsp;-->
      
    </nav>
    
    <div class="first">
            <div [ngStyle]="{'width.%':width}" class="second"></div>
        </div>
    
        <h4 class="hint">
                <div class="container">
                    <ul class="progressbar">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                </div>
            </h4>
    <router-outlet></router-outlet>

<html> 
<fieldset>
    <h3><p class="indent">Upload the documents mentioned</p></h3>
    <form action="upload.php" method="post" enctype="multipart/form-data">
      
          SSC Certificate:<br><br>
          <input type="file" name="fileToUpload" id="fileToUpload">
          <input type="submit" value="Upload File" name="submit">
      
      </form><br>

      <form action="upload.php" method="post" enctype="multipart/form-data">
        
            HSC/Diploma Certificate:<br><br>
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="Upload File" name="submit">
        
        </form>
        <br>
        <form action="upload.php" method="post" enctype="multipart/form-data">
        
            Degree Certificate:<br><br>
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="Upload File" name="submit">
       
        </form>
        <br>
        <form action="upload.php" method="post" enctype="multipart/form-data">
        
            Masters Certificate:<br><br>
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="Upload File" name="submit">
        
        </form>
        <br>
        <form action="upload.php" method="post" enctype="multipart/form-data">
        
            Offer Letter:<br><br>
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="Upload File" name="submit">
        
        </form>
        <br><br>
        
</fieldset>
</html>




<button (click)="cancel()"class="btn">Cancel</button>
<button (click)="save()"class="btn">Save</button>
<button (click)="next()"class="btn">Next</button>
<button (click)="back()"class="btn">Previous</button>
       